@model Kondor.WebApplication.Models.RawCardViewModel
@{
    ViewBag.Title = "Edit Card";
}

@using (Html.BeginForm("Edit", "Card", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Edit card</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })

    <div class="form-group">
        @Html.LabelFor(m => m.FrontSide, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextAreaFor(m => m.FrontSide, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.BackSide, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextAreaFor(m => m.BackSide, new { @class = "form-control", rows = 5 })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-success" value="Edit" />
            <input type="button" class="btn btn-info" onclick="location.href = '@Url.Action("Index", "Card")';" value="Back" />
        </div>
    </div>
}
