@model List<Kondor.WebApplication.Models.CardViewModel>
@{
    ViewBag.Title = "Index";
}
<div class="row">
    <div class="col-md-4">
        <h3>Rich Card</h3>
        <p><a class="btn btn-success" href="@Url.Action("CreateRichCard", "Card")">Create</a></p>
    </div>
    <div class="col-md-4">
        <h3>Simple Card</h3>
        <p><a class="btn btn-success" href="@Url.Action("CreateSimpleCard", "Card")">Create</a></p>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Card Type</th>
            <th>Front</th>
            <th>Back</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.CardType</td>
                <td>@item.Front.Display()</td>
                <td>@item.Back.Display()</td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new {id = item.Id}, new {@class="btn btn-warning"})
                </td>
            </tr>
        }
    </tbody>
</table>