@model List<Kondor.WebApplication.Models.CardViewModel>
@{
    ViewBag.Title = "Index";
}
<div class="row">
    <div class="col-md-4">
        <h3>Rich Card</h3>
        <p><a class="btn btn-success" href="@Url.Action("CreateRichCard", "Card")">Create</a></p>
    </div>
    <div class="col-md-4">
        <h3>Simple Card</h3>
        <p><a class="btn btn-success" href="@Url.Action("CreateSimpleCard", "Card")">Create</a></p>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Card Type</th>
            <th>Front</th>
            <th>Back</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.CardType</td>
                <td>@item.Front.Display()</td>
                <td>@item.Back.Display()</td>
                <td>
                    <div class="btn-group">
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-warning" })
                        <button class="btn btn-default" data-href="@Url.Action("Delete", new { id = item.Id })" data-toggle="modal" data-target="#confirm-delete">
                    Remove
                    </button>
                </div>
            </td>
        </tr>
        }
    </tbody>
</table>


<div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                Delete
            </div>
            <div class="modal-body">
                Are you sure you want to delete this item?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <a class="btn btn-danger btn-ok">Delete</a>
            </div>
        </div>
    </div>
</div>


@section scripts
{
    <script type="text/javascript">
        $('#confirm-delete').on('show.bs.modal', function (e) {
            $(this).find('.btn-ok').attr('href', $(e.relatedTarget).data('href'));
        });
    </script>
}
